$class-name: '.debate-block';
$width-2: calc(100% / 2);
$width-3: calc(100% / 3);
$width-4: calc(100% / 4);
@include has-scroll($class-name);

#{$class-name} {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;

  &--horizontal {
    @include min-lg {
      flex-direction: row;
    }
  }

  &--mini {
    #{$class-name} {

      &__image-wrapper,
      &__video-wrapper {
        height: 15rem;
      }
    }
  }

  &--small {
    #{$class-name} {

      &__image-wrapper,
      &__video-wrapper {
        height: 15.5rem;
      }
    }
  }

  &--medium {
    #{$class-name} {

      &__image-wrapper,
      &__video-wrapper {
        height: 22rem;
      }
    }
  }

  &--large {
    #{$class-name} {

      &__image-wrapper,
      &__video-wrapper {
        height: 33rem;
      }
    }
  }

  &__header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-bottom: 1rem;
  }

  &__image-wrapper {
    display: flex;
    width: 10rem;
    height: 10rem;
    margin-right: 1.5rem;

    &>img {
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 100%;
    }
  }

  &__author {
    font-size: var(--font-size);
    font-style: italic;
    margin: 0;
  }

  &__content {}

  &__footer {}
}